<form>
    <div class="form-group">
      <label for="Titulo">Titulo de la Obra</label>
      <input type="text" class="form-control" id="Titulo">
    </div>
    <div class="form-group">
      <label for="Estilo">Estilo de la Obra</label>
      <input type="text" class="form-control" id="Estilo">
    </div>
    <div class="form-group">
      <label for="Precio">Precio de la Obra</label>
      <input type="number" class="form-control" id="Precio">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Seleccione el Propietario</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Seleccione el Artista</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>      
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
  </form>
