<body xmlns:min-width="http://www.w3.org/1999/xhtml">
<div class="container">
  <h1 class="text-light">.</h1>
  <h1 class="text-light">.</h1>
  <h1 align="center">
    Sobre La Empresa
  </h1>
  <hr>
  <div class="row">
    <div class="card" style="width: 24rem;">
      <img src="assets/img/creativo.jpg" class="card-img-top">
      <h4 class="card-title py-3 mbr-fonts-style display-5" align="center">Creativos</h4>
      <p class="mbr-text mbr-fonts-style display-7">Tenemos la habilidad de solucionar todos tus problemas de la manera mas creativa generando muchas ideas</p>
    </div>
    <hr>
    <div class="card" style="width: 24rem;">
      <img src="assets/img/worldwide.jpg" class="card-img-top">
      <h4 class="card-title py-3 mbr-fonts-style display-5" align="center">Mundialmente</h4>
      <p class="mbr-text mbr-fonts-style display-7">Nos relacionamos con artistas de todo el mundo para brindar un servicio a cualquiera que necesite exponer su arte en algun lugar</p>
    </div>
    <hr>
    <div class="card" style="width: 20rem;" >
      <img src="assets/img/naruto.png" class="card-img-top">
      <h4 class="card-title py-3 mbr-fonts-style display-5" align="center">Estilo Unico</h4>
      <p class="mbr-text mbr-fonts-style display-7">Cada cliente tiene un estilo unico de expresarse por lo cual para cada exposicion tenemos que elegir una presentacion que se adecue a este estilo</p>
    </div>
  </div>
  <hr>

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="user_image img-fluid">
          <img src="assets/img/cuti.png" alt="" title="" media-simple="true">
        </div>
        <div class="mbr-text mbr-fonts-style display-7" align="center">
          <p>Todos los problemas se pueden resolver si se tiene un buen criterio; siempre se debe tener una buena comunicacion con el equipo, buscando asi su mejor rendimiento. </p>
        </div>
        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7" align="center">
          Juan Cutile
        </div>
        <div class="user_desk mbr-light mbr-fonts-style display-7" align="center">
          DESARROLLADOR
        </div>
      </div>
      <div class="carousel-item ">
        <div class="user_image ">
          <img src="assets/img/rami2.jpg" alt="" title="" media-simple="true">
        </div>
        <div class="mbr-text mbr-fonts-style display-7" align="center">
          <p>Buenas tardes. Muy complacido con la calidad de trabajo que ofrezco y brindo a todos mis clientes.</p>
        </div>
        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7" align="center">
          Ramiro Menendez
        </div>
        <div class="user_desk mbr-light mbr-fonts-style display-7" align="center">
          DESARROLLADOR
        </div>
      </div>
      <div class="carousel-item">
        <div class="user_image ">
          <img src="assets/img/jp.jpg" alt="" title="" media-simple="true" >
        </div>
        <div class="mbr-text mbr-fonts-style display-7" align="center">
          <p>Excelente manejo con los clientes. Siempre entrego todo a tiempo y con todos las funciones que se prometieron.</p>
        </div>
        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7" align="center">
          Juan Pablo Molina
        </div>
        <div class="user_desk mbr-light mbr-fonts-style display-7" align="center">
          DESARROLLADOR
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>

