<body xmlns:min-width="http://www.w3.org/1999/xhtml">
<div class="container">
  <h1 class="text-light">.</h1>
  <h1 class="text-light">.</h1>
  <h1 align="center">
    Sobre La Empresa
  </h1>
  <hr>
  <div class="row">
    <div class="card" style="width: 24rem;">
      <img src="assets/img/creativo.jpg" class="card-img-top">
      <h4 class="card-title py-3 mbr-fonts-style display-5" align="center">Creativos</h4>
      <p class="mbr-text mbr-fonts-style display-7">Tenemos la habilidad de solucionar todos tus problemas de la manera mas creativa generando muchas ideas</p>
    </div>
    <hr>
    <div class="card" style="width: 24rem;">
      <img src="assets/img/worldwide.jpg" class="card-img-top">
      <h4 class="card-title py-3 mbr-fonts-style display-5" align="center">Mundialmente</h4>
      <p class="mbr-text mbr-fonts-style display-7">Nos relacionamos con artistas de todo el mundo para brindar un servicio a cualquiera que necesite exponer su arte en algun lugar</p>
    </div>
    <hr>
    <div class="card" style="width: 20rem;" >
      <img src="assets/img/naruto.png" class="card-img-top">
      <h4 class="card-title py-3 mbr-fonts-style display-5" align="center">Estilo Unico</h4>
      <p class="mbr-text mbr-fonts-style display-7">Cada cliente tiene un estilo unico de expresarse por lo cual para cada exposicion tenemos que elegir una presentacion que se adecue a este estilo</p>
    </div>
  </div>
  <hr>
</div>
</body>

