<body xmlns:min-width="http://www.w3.org/1999/xhtml">
<div class="container">
  <h1 class="text-light">.</h1>
  <h1 class="text-light">.</h1>
  <h1>
    El Arte de Programar
  </h1>
  <hr>
  <div class="row">
    <div class="card" style="width: 24rem;">
      <img src="assets/img/space.jpg" class="card-img-top">
    </div>
    <hr>
    <div class="card" style="width: 24rem;">
      <img src="assets/img/samurai.png" class="card-img-top">
    </div>
    <hr>
    <div class="card" style="width: 20rem;" >
      <img src="assets/img/lanoche.jpg" class="card-img-top" width="100%" height="100%" >
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="card " style="width: 18rem;">
      <img src="assets/img/bosque.jpg" class="card-img-top" width="100%" height="100%">
    </div>
    <hr>
    <div class="card" style="width: 25rem;">
      <img src="assets/img/leon.jpg" class="card-img-top">
    </div>
    <hr>
    <div class="card" style="width: 25rem;">
      <img src="assets/img/pincel.jpg" class="card-img-top">
    </div>
  </div>
</div>
</body>

