<hr>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Estilo</th>
        <th scope="col">Precio</th>
        <th scope="col">Propietario</th>
        <th scope="col">Artista</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obra of obras">
        <td>{{obra.idObra}}</td>
        <td>{{obra.titulo}}</td>
        <td>{{obra.estilo}}</td>
        <td>{{obra.precio}}</td>
        <td>{{obra.idPropietario}}</td>
        <td>{{obra.idArtista}}</td>
      </tr>
    </tbody>
  </table>
